@page
@model MyApp.Namespace.IndexModel
@{
}

<div class="container">
    <h1>Listado de Clientes</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombres</td>
                <td>Apellidos</td>
                <td>DNI</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var c in Model.Clientes){
                <tr>
                    <td>@c.IdCliente</td>
                    <td>@c.Nombres</td>
                    <td>@c.Apellidos</td>
                    <td>@c.Dni</td>
                </tr>
            }
        </tbody>
    </table>
</div>

